.card-body {
    background-color: aliceblue;
}

#donation img {
    max-height: 125px;
}

.big-button {
    height: 80px;
}

#banner {
    position: relative;
}

#banner .overlay {
    position: absolute;
    top: 0;
    height: 8em;
    left: 0;
    right: 5em;
    color: white;
    z-index: 1;
}

#banner .overlay .container,
#banner .overlay .row {
    height: 100%;
}
